body, html {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.App {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  margin-bottom: 20px;
}
h1 {
  padding: 10px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.sear {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0px 0 0 0px;
  outline: none;
  max-width: 500px;
  box-sizing: border-box;
}

.src {
  padding: 10px;
  width: 70px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}

.src:hover {
  background-color: #555;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .App{
    margin-left: 40px;
  }
  .navbar {
    flex-direction: row;
    background: none;
  }

  .navbar a {
    float: none;
    width: 490px;
    color: #333;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  bottom: 0;
}

.pagination button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}

@media (max-width: 768px){
  .pagination button {
    margin-bottom: 20px;
    width: 100px;
    padding: 10px;
  }
  .pagination span{
    font-size: 14px;
  }
}
